/*general HTML*/
body{
  background-color: #8AE0FF;

}
h1{
  font-family: 'Anton', sans-serif;
  border-style: groove;
  border-color: red;
  background: white;
  padding-left: 20px;
  margin-bottom: 1px;
  position: relative;
}
h2{
  font-family: 'Montserrat', sans-serif;
  border-style: groove;
  border-color: blue;
  width: 200px;
  background: white;
  text-align: center;
  margin-top: 10px;
}
h3{
  font-family: 'Raleway', sans-serif;
  text-decoration-line: underline;
  border: 2px inset grey;
  border-bottom: 1px;
  border-right: 1px;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
}
p{
  border: 2px outset grey;
  display: block;
  max-width: 700px;
  height: auto;
  text-align: left;
  background: white;
  font-size: 18px;
}
li{
  font-size: 26px;
}
/*nav{
    float: left;
    width: 100%;
}
nav .navigation{
    padding: ;
    float: left;
    border-bottom: ;
    list-style-type: none;
}
.navigation li {
    float: left;
}
.navigation li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;
    vertical-align: middle;
}*/

/*divs*/
.late{
  margin-top: 10px;
  position: relative;
}
.early{
  margin-top: 10px;
}

/*sections*/
.growing{
  width: 700px;
  height: auto;
  max-width: 700px;
  display: inline;
}
.army{
  max-width: 700px;
  display: inline;
}



/*lists*/

.dogs{
  border: 2px solid black;
  display: block;
  width: 350px;
  height: auto;
  margin-top: 100px;
  position: absolute;
  right: 50px;
  top: 250px;
  background: white;
}
.topTen{
  border: none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: auto;
}
.experience{
  border: 2px solid black;
  display: block;
  width: 350px;
  height: auto;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
  right: 46px;
  background: white;
}
.jobs{
  border: none;
  padding: 20px;
  text-align: center;
  margin: auto;
}
.training{
  border:none;
  padding: 20px;
  text-align: center;
  margin: auto;
}

/*images*/

.heroImage{
  max-width: 1600px;
  height: auto;
  position: relative;
  margin-top: 1px;
}

.armyPic{
  width: 340px;
  height: auto;
  margin-left: 20px;
  border: 3px solid black;
}
.profile-pic{
  height: 400px;
  width: auto;
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  border: 3px solid black;
}
