h1{
  font-family: 'Anton', sans-serif;
  border-style: groove;
  border-color: red;
}

.profile-pic{
  height: 400px;
  width: auto;
  display: inline-block;
  margin-right: 50px;
  margin-top: 30px;
  border: 3px solid black;
}

h2{
  font-family: 'Montserrat', sans-serif;
  border-style: groove;
  border-color: blue;
}

h3{
  font-family: 'Raleway', sans-serif;
  text-decoration-line: underline;
  border: 2px inset grey;
  border-bottom: 1px;
  border-right: 1px;
  width: 200px;
  padding: 10px;
}
.late{
  margin-top: 75px;
}

.early{
  margin-top: 75px;
}

p{
  border: 3px outset black;
  border-top: 1px;
  border-left: 1px;
}
body{
  background-color: #FFE6AC;
 }

 .dogs{
   border: 2px solid black;
   display: inline-block;
   width: 200px;
   height: auto;
   margin-top: 30px;
 }

.topTen{
  border: none;
  padding: 20px;
}

.experience{
  border: 2px solid black;
  display: inline-block;
  width: 300px;
  height: auto;
  margin-top: 30px;
  margin-left: 30px;

}

.jobs{
  border: none;
  padding: 10px;
}

.training{
  border:none;
  padding: 10px;
}

.armyPic{
  width: 340px;
  height: auto;
  margin-left: 30px;
  border: 3px solid black;
}
